[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.23.0"
Flask = "==1.1.2"
waitress = "==1.4.3"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
